.foto {
    height: 330px;
    width: 220px;
    position: absolute;
    top: 14%;
    left: 2%;
}

.name {
    position: absolute;
    top: 14%;
    left: 22%;
}

.profession {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 22%;
    top: 28%;
    width: 11%;
}

.Karera {
    color: white;
    margin: 5px;
    font-size: 22px;

}

.Actor {
    color: white;
    margin: 6px;
    font-size: 22px;
}

.facts {
    position: relative;
    width: 400px;
    height: auto;
    left: 260px;
    bottom: 28px;

}

.factsText {
    position: relative;
    left: 19px;
    top: 5px;

    font-size: 24px;
}

.factsDiv {
    position: absolute;
    width: 650px;

    left: 700px;
    top: 275px;
    color: white;
    font-size: 22px;
    border: 2px solid #646cff;
    border-radius: 15px;
    padding-right: 10px;
}

.years {
    width: 100px;
    margin-left: 3px;
}

.age {
    width: 100px;
    margin-left: 20px;
}

.birthdayText {
    width: 160px;
    margin-left: 20px;
}

.birthday {
    width: 100px;
    padding-left: 3px;
}

.infoDiv {
    position: absolute;
    left: 5%;
    top: 520px;
    height: auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #646cff;
    align-items: center;
    border-radius: 19px;
}

.PlaceOfBirth {
    margin-left: 20px;
}