.foto {
    height: 330px;
    width: 220px;
    position: absolute;
    top: 14%;
    left: 2%;
}

.name {
    position: absolute;
    top: 14%;
    left: 22%;
}

.profession {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 22%;
    top: 28%;
    width: 11%;
}

.Karera {
    color: white;
    margin: 5px;
    font-size: 22px;

}

.Actor {
    color: white;
    margin: 6px;
    font-size: 22px;
}

.facts {
    position: absolute;
    color: white;
    width: 400px;
    height: auto;
    left: 700px;
    top: 275px;
    font-size: 22px;
}

.years {
    position: absolute;
    top: 550px;
    left: 17%;
}

.age {
    position: absolute;
    top: 548px;
    left: 5%;
}

.birthdayText {
    position: absolute;
    top: 500px;
    left: 5%;
}

.birthday {
    position: absolute;
    top: 500px;
    left: 15%;
}