.foto {
    height: 330px;
    width: 220px;
    position: absolute;
    top: 14%;
    left: 2%;
}
.name {
    position: absolute;
    top: 14%;
    left: 22%;
}

.profession {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 22%;
    top: 28%;
    width: 11%;
}
.Karera{
    color: white;
}
.Actor {
    color: #1a1a1a;
}