.serch {
    position: absolute;
    width: 30vw;
    height: 27px;
    top: 4%;
    left: 4vw;
    text-indent: 8px;
}

.pageContenirBottom {
    position: absolute;
    left: 40%;
    top: -60%;
    width: 22vw;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}


.page {
    width: 40px;
    height: 40px;
    border: 1px solid lightyellow;
    border-radius: 40px;
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageContenirTop {
    position: absolute;
    left: 40%;
    top: 30px;
    width: 22vw;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}