.search {
    position: absolute;
    width: 30vw;
    height: 27px;
    top: 4%;
    left: 4vw;
    text-indent: 8px;
}

.page {
    width: 40px;
    height: 40px;
    border: 1px solid #f1ad53;
    border-radius: 40px;
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1ad53;
    padding: 0px;
}

.pageNavigateTop {
    position: absolute;
    left: 40%;
    top: 30px;
    width: 22vw;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.page:hover {
    border-color: #ff6464;
    color: #ff6464;
    background-color: #999797;
    transition: 0.7s;
}

.like {
    position: absolute;
    right: 2vw;
}