img {
    height: 400px;
    width: 200px;
    padding-left: 50px;
}
.films {
    height: 600px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px solid white;
    margin-left: 50px;
}
.genre {
    border: 1px solid #454343;
    border-radius: 30px;
    background-color: #454343;
    width: 170px;
    height: auto;
    margin-left: 66px;
    margin-bottom: 10px;
}
